body {
    width: 100%;
    height: 100%;
    font-family: Montserrat,sans-serif;
	font-weight: 300;
    color: #666;
    background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
margin: 0 0 30px;
text-transform: uppercase;
font-family: Montserrat,sans-serif;
font-weight: 700;
letter-spacing: 1px;
}

.navbar{
    margin-bottom: 0;
    border-bottom: 1px solid rgba(108, 122, 137,.3);
    background: rgba(108, 122, 137,0.7);
}

.navbar-brand{
    height: 40px;
    padding: 5px 15px;
    font-size: 18px;
    line-height: 1em;
}

.navbar-brand h1{
    color: #fff;
    font-size: 20px;
    line-height: 40px;
}

.nav .navbar-nav{
    background-color: rgba(0,0,0,0);
}
.nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}
ul.nav li a {
    color: #fff;
}
.navbar-brand h1:hover{
    color: rgba(255,255,255,.2);
} 
.nav li a:hover,.nav li a:focus,.nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}
ul.nav li a {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}
#home.home {
    padding: 20% 0 0 0;
}
.home{
    height: 100%;
    width: 100%;
    position: relative;
    background: url(http://unsplash.com/photos/bnYXiSr-Dss/download) no-repeat top center;
    background-position: center;
    background-size: cover;
}
.home .welcome-message{
    color: #fff;
    font-size: 50px;
}
.name-start{
    font-size: 100px;
    text-transform: none;
    color: rgba(108, 122, 137,1) !important;
}
.name-end{
    font-size: 100px;
    text-transform: none;
    color: #fff;
}
.nav-name-start{
    text-transform: none;
    color: #bbb !important;
}
.nav-name-end{
    text-transform: none;
    color: #fff;
}
.nav-name-start:hover{
    text-transform: none;
    color: #fff !important;
}
.nav-name-end:hover{
    text-transform: none;
    color: #bbb;
}
.home .welcome-message h1{
    font-size: 80px;
    color: #fff;
}
.home .btn {
    background: transparent;
    border: 4px solid #ffffff;
    border-radius: 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 12px 42px;
    margin-top: 40px;
    margin-right: 16px;
    transition: all 0.4s ease-in-out;
}
.home .btn:hover {
    background: rgba(108, 122, 137,0.7);
    border-color: transparent;
}
.portfolio-section{
    padding-top: 110px;
    padding-bottom: 110px;
}
.section-heading{
    margin-bottom: 80px;
}
.about .profile {
    max-width: 339px;
    position: relative;
    display: inline-block;
    text-align: center;
}
.about .profile-text p{
color: #767272;
font-family: "open_regular", Helvetica, Arial, sans-serif;
font-size: 16px;
margin-bottom: 45px;
line-height: 32px;
}
.navbar-toggle:focus, .navbar-toggle:active {
    outline: 0;
}
.navbar-toggle {
    padding: 4px 6px;
    font-size: 14px;
    color: #fff;
}
.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.portfolio-offset{
    margin-top: 30px;
    max-height: 408.1px;
}
.portfolio-img{
    max-height: 408.1px;
    max-width: 390px;
}
.pro-text {
  margin: 120px auto 0px;
}
.portfolio-offset a:hover{
    opacity: 0.7;
}
.contact{
    color:#fff;
    width: 100%;
    position: relative;
    background: url(http://unsplash.com/photos/b7DzEp2lsRI/download) no-repeat top center;
    background-position: center;
    background-size: cover;
}
.contact-head{
    margin-top: 30px;
}
.contact-text{
    font-size: 18px;
}
.contact-options{
    margin-top: 20px;
    margin-bottom: 10px;
}
.mail{
    color: #bbb;
}
.mail:hover{
    color: #fff;
    text-decoration: none;
}
.footer{
    background-color: rgba(108, 122, 137,0.7);
    color: #fff;
}
.footer .container{
    height: 50px;
}
.footer .row{
    margin-top: 20px;
}
.soc ul li{
        margin-bottom: 20px;
}
.soc ul li{
    margin-bottom: 20px;
    margin-right: 23px;
    float:left;
    text-align: center;
    text-decoration:none;
    list-style:none;
    
}
.soc {
    margin-top: 42px;
    text-align: center;
}
.soc ul{
    margin-left: 24px;
    padding-left: 0;
    display: inline-block;  
}
.soc1 a{
    display: inline-block;
    height: 17px;
    width: 17px;
    background: url(http://res.cloudinary.com/itssuraj/image/upload/v1476250818/socIcons_gyublj.png)no-repeat;
    margin-top: 15px;
    margin-left: 2px;
}
.soc1{
    width: 52px;
    height: 52px;
    border: 2px solid #fdfdfc;
    border-radius: 50px;
}
.soc1 a:hover{
    border:0;
    background: url(http://res.cloudinary.com/itssuraj/image/upload/v1476250818/socIcons_gyublj.png)no-repeat;
    box-shadow: none;
}
.soc1:hover{
    cursor:pointer;
    border: 2px solid #1c1c1c;
    background:#1c1c1c;
}
.soc2 a{
    display: inline-block;
    height: 17px;
    width: 17px;
    background: url(http://res.cloudinary.com/itssuraj/image/upload/v1476250818/socIcons_gyublj.png) -74px 0 no-repeat;
    margin-top: 15px;
    margin-left: 2px;
}
.soc2{
    width: 52px;
    height: 52px;
    border: 2px solid #fdfdfc;
    border-radius: 50px;
}
.soc2 a:hover{
    border:0;
    background: url(http://res.cloudinary.com/itssuraj/image/upload/v1476250818/socIcons_gyublj.png) -74px 0 no-repeat;
    box-shadow: none;
}
.soc2:hover{
    cursor:pointer;
    border: 2px solid #1c1c1c;
    background:#1c1c1c;
}
.soc3 a{
    display: inline-block;
    height: 19px;
    width: 19px;
    background: url(http://res.cloudinary.com/itssuraj/image/upload/v1476250818/socIcons_gyublj.png) -147px 0 no-repeat;
    margin-top: 15px;
    margin-left: 0px;
}
.soc3{
    width: 52px;
    height: 52px;
    border: 2px solid #fdfdfc;
    border-radius: 50px;
}
.soc3 a:hover{
    border:0;
    background: url(http://res.cloudinary.com/itssuraj/image/upload/v1476250818/socIcons_gyublj.png) -147px 0 no-repeat;
    box-shadow: none;
}
.soc3:hover{
    cursor:pointer;
    border: 2px solid #1c1c1c;
    background:#1c1c1c;
}
.work{
    margin-bottom: 30px;
}
.work-section{
    margin-top: 10px;
    margin-bottom: 10px;
}
.work-img:hover{
    opacity: .7;
}